<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/application.css'>
  </head>
  <body>
    <div id='top'>
      <h3> San Diego Trivia </h3>
      <img src='/images/trivia.png' />
    </div>
    <%- body %>
  </body>
</html>
