<h1>Welcome</h1>

<% if(typeof currentUser != 'undefined'){ %>
  Its nice that you are here <%= currentUser.name %>
<% } %>

<% if(typeof currentUser != 'undefined'){ %>
  <div>
    <h3>Links</h3>
    <a href='/secret'>About You</a>
  </div>
<% } %>


