<html>
  <head>
  </head>
  <body>
    <div id='top'>
      <h3> Auth Example </h3>
      <% if(user){ %>
        <a href="/logout">Logout</a>
      <% } %>
    </div>
    <%- body %>
  </body>
</html>

