<h1>Please Login</h1>
<form action='/login' method='POST'>
  <div>
    <label>Email</label>
    <br />
    <input type='text' name='email' />
  </div>
  <div>
    <label>Password</label>
    <br />
    <input type='password' name='password' />
  </div>
  <div>
    <input type='submit' value='Login' />
  </div>

  <br />
  <div>
    Or, <a href='/register'>create an account.</a>
  </div>
</form>
